@page "/"
@using SharedData

<EditForm Model="_temperatureModel">
    <PageTitle>Temperature Conversion</PageTitle>

    <h1>Temperature Conversion</h1>
    <p>
        Enter the temperature to be converted, and the units to convert from.
    </p>
    <input placeholder="Temperatue"
           @bind="_temperatureModel.Temperature" class="form-control" />
    <br />
    <p>
        <InputRadioGroup name="units" @bind-Value="_temperatureModel.FromUnits">
            From Unit:
            <br />
            @foreach (var unit in (EnumTemperatureUnit[])Enum
                .GetValues(typeof(EnumTemperatureUnit)))
            {
                <InputRadio Value="unit"></InputRadio>
                <text>&nbsp;</text>

                @unit

                <br />
            }
        </InputRadioGroup>
    </p>
    <button class="btn btn-primary" type="submit" onclick="@GetResults">Convert</button>
</EditForm>
<p>
    <br/>
    <b><text>@_temperatureModel.ConversionResult</text></b>
</p>
